.profile {
  display: inline-flex;
  padding: 1.7rem 0 1rem 0;
  gap: 1.5rem;

  & > a {
    &:hover,
    &:focus {
      filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.8));
      filter: brightness(0.8);
      svg {
        stroke: #000000;
      }
    }
  }
}

